export DB_NAME=users
export DB_HOST=localhost
export DB_SSL_MODE=disable
export DB_USER=postgres
export DB_PASS=test_pw
export DB_PORT=5432
export DB_TIMEOUT=1h
export MAX_DATABASE_CONNECTIONS=500

export PORT=8080